@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*@if (ViewBag.UserId == item.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    }*@

                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
