
@{
    ViewData["Title"] = "OrderHistoryIndex";
}
<h1>Order History</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order No:
                </th>
                <th>
                    Date Created:
                </th>
                <th>
                    Date Completed:
                </th>
                <th>
                    Payment Type:
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var order in ViewBag.Orders)
            {
             
            <tr>
                <td>
                    @order.OrderId
                </td>
                <td>
                    @order.DateCreated
                </td>
                <td>
                    @order.DateCompleted
                </td>
                <td>
                    @order.PaymentType.Description
                </td>

                <td>
                    <a asp-controller="Orders" asp-action="Details" asp-route-id="@order.OrderId">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    
               
    <a asp-controller="Profile" asp-action="Index">Back</a>
</div>